<!DOCTYPE html>
<html lang="fr">
<%- include('../shared/head', {css: ['index', 'navbar']}) %>

<body>
    <%- include('../shared/navbar', {}) %>
    <div>
        <h1>List of tickets</h1>
        <table>
            <thead>
                <tr>
                    <th class="idTicket">Title ticket</th>
                    <th class="showTicket">View Ticket</th>
                    <th class="editTicket">Edit Ticket</th>
                </tr>
            </thead>
            <tbody>
                <% for (index = 0; index < tickets.length; index++) { %>
                <% const ticket = tickets[index] %>
                <tr key={index}>
                    <td><%= ticket.title %></td>
                    <td><a href="/ticket/<%= ticket._id %>" class="nav-link">View</a></td>
                    <td><a href="/ticket/<%= ticket._id %>/edit" class="nav-link">Edit</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <a href="/ticket/notassigned" input type= "button" id="assignment"> See unassigned Tickets</a>
         <div class ="assignment section">
        <%# for (index = 0; index < tickets.length; index++) { %>
        <%# const ticket = tickets[index] %>
            <h1>Details Ticket</h1>
            <h2>Id : <%#= ticket.id %></h2>
            <h2>Titre : <%#= ticket.title %></h2>
            <h2>Description : <%#= ticket.description %></h2>
            <h2>Responsable : <%#= ticket.responsible %></h2>
            <h2>Priorité : <%#= ticket.priority %></h2>
            <h2>Statut : <%#= ticket.completed ? "Résolu" : "En cours" %></h2>
        </div>
</body>

</html>